* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    min-height: 100vh; 
    background-color: #1a1139; 
    font-family: sans-serif; 
    display: flex; 
    flex-direction: column;
    align-items: center; 
    color: white;
}
  
header {
    width: 100%; 
    height: 70px;
    background-color: #0c052b; 
    top: 0; 
    left: 0;
    right: 0;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    box-shadow: 0 10px 10px rgba(3, 5, 34, 0.368); 
}
.top-buttons {
    display: inline-flex;
    justify-content: center;
    gap: 10px;
}
.top-buttons .button {
    font-family: 'Arial', sans-serif; 
    margin-top: 10px;
    background-color: #2C5F90; 
    border-radius: 10px; 
    color: white; 
    box-shadow: 0 0 10px #2C5F90; 
    padding: 0 20px;
    width: 150px; 
    height: 50px; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    font-size: 16px; 
    font-weight: normal;
    text-align: center;
    box-sizing: border-box; 
    cursor: pointer;
    transition: all 0.3s ease; 
    border: none; 
    text-decoration: none; 
}
  
.button:hover {
    background-color: #0e3356;
    transform: translateY(-2px);
    box-shadow: 0 5px 20px #283c9d;
}
#mode {
    margin: 0;
    color: #98A9E3;
    text-align: center; 
    font-size: 24px;
    margin-top: 20px;  
    margin-bottom: 20px;
}
.container {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    gap: 20px;
    margin-top: 20px; 
}
.settings {
    margin-bottom: 20px;
    text-align: center;
}
.controls {
    margin: 10px 0;
}
.controls button{
    background-color: lightgray;
    color: black;
    border-radius: 10px;
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 0 10px #2C5F90;
}
.controls button:hover {
    background-color: #0e3356;
    transform: translateY(-2px);
    box-shadow: 0 5px 20px #283c9d;
}
button {
    height: 40px; 
    background-color: #2C5F90;
    color: white;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    margin: 5px 0;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 10px #2C5F90;
}
button:hover {
    background-color: #0e3356;
    color: white;
    box-shadow: 0 5px 20px #283c9d;
}
input {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    margin: 5px 0;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}  
input[type="number"] {
    text-align: center;  
    padding: 8px;
    width: 200px;            
    border-radius: 5px;     
    border: 1px solid #ccc;  
    background-color: #fff;  
}
input:focus, button:focus {
    outline: none;
}
label {
    font-size: 16px;       
    color: #ffffff;       
    margin-bottom: 10px;   
    text-align: center;     
    width: 100%;        
}
.map {
    display: grid;
    width: 650px;
    height: 650px;
    border: 2px solid black;
    background-color: gray;
}
.cell {
    background-color: white;
    cursor: pointer;
}
.start {
    background-color: green;
}
.end {
    background-color: red;
}
.wall {
    background-color: black;
}
.path {
    background-color: yellow;
}
.visited {
    background-color: cyan;
}
.considering {
    background-color: orange;
}
.current {
    background-color: magenta;
}
.res {
    margin-top: 20px;
    font-weight: bold;
}